main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#selecteurs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 350px;

}

#break, #session {
  display: flex;
  flex-flow: row wrap;
  width: 120px;
}


#compteurSession, #compteurBreak {
position: relative;
width: 350px;
height: 350px;
overflow: hidden;
border-radius: 50%;
}

#compteurBreak {
  display: none;
}

.compteur {
  display: flex;
}

.compteur p {
  margin: auto;
}

#green {
  background-image: url(../img/eau.gif);
  background-size: cover;
  background-repeat: no-repeat;
  /*border: none;*/
  /*background-color: green;*/
  display: none;
}

#red {
  background-color: red;
  display: none;
}


#compteurSession .compteur,#compteurBreak .compteur {
    border: 2px solid black;
}


#compteurSession div, #compteurBreak div {
  width: 350px;
  height: 350px;

  border-radius: 50%;

  position: absolute;
}
